node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store


# MMMQuWnLGwlTYdSMtKujs774rvSF8-g78jwHgo35nIoahZ1df13ph_HxFOTGIpGD-_CVpb--RMaPA2clqd8koS8x58EPk6H9fkhW791Uws_LRizh44UyVyGh4feNX3Yx


#Client ID
#xq--e53MTetVO22ip2emSg

#API Key
#cSwODGH1LwM0LPwFLEZIvDw2LK6O_E361Dy0p61WvH56Jj6ksMYoObI4XxOGqBzTCdJqyC_EWrqhC2E-30w7F4dwTDWa3AhpJmdgCeF5qFUJFid6azWWdvFLp6c2YHYx